body {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

table {
    border-collapse: collapse;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

img {
    margin: 50px;
}
